body {
    margin: 0;
    padding: 10px;
    border-top: 10px solid red;
    position: relative;
}
body::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
}